extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .singer-detail
    .container.my-3
      .row
        .col-12
          .inner-title Cắt đôi nỗi sầu

          .inner-actions
            div(class="inner-action inner-time")
              <i class="fa-regular fa-clock"></i> 20/10/2023
            div(class="inner-action inner-singer")
              <i class="fa-solid fa-microphone-lines"></i> Tăng Duy Tân
            div(class="inner-action inner-topic")
              <i class="fa-solid fa-music"></i> Nhạc trẻ
            div(class="inner-action inner-like")
              <i class="fa-regular fa-thumbs-up"></i> 1024 thích
            div(class="inner-action inner-heart")
              <i class="fa-regular fa-heart"></i> Bài hát yêu thích

          .inner-play
            .inner-avatar
              img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
            .inner-audio
              div(id="aplayer")
              //- audio(controls)
              //-   source(src="https://backend.daca.vn/assets/audios/cat-doi-noi-sau.mp3")

          .inner-desc
            .inner-label Mô tả
            .inner-text
              | Mô tả bài hát...

          .inner-desc
            .inner-label Lời bài hát
            .inner-text
              | Nội dung Lời bài hát...